
.head1{
	padding:3rem;
	font-size:40px;
	color: #212121;
	font-weight:600;
	text-align:right;
}

h2,h4{
	text-align:center;
}

  .video-wrapper {
	align-items:center;
	display:flex;
	padding:2rem;
  }
  
  .video {
	margin:auto;
  }
  
 .wrap {
	width:100%;
	padding:0;
	display:flex;
	flex-flow:column;
	align-items:left;
 }
  
.epic-wrap {
	padding-bottom:4rem;
}

.epic {
	display:flex;
	flex-direction:row;
	width:80%;
	margin:auto;
	border-left:2px red solid;
	border-right:2px red solid;
	align-items:center;
	justify-content:center;
}

img{
	width:100%;
}

.img-wrapper {
	width: 80%;
	display:flex;
	padding:2rem;
	flex-flow:row;
	align-items:center;
	justify-content:center;
	border:1px solid grey;
	margin:1rem;
}

.doc {
	flex-flow:row;
}

.label {
	font-size:1rem;
}
