
.hero-container {
    background:  white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

@keyframes bgin {
  from { width: 100%;}
  to {width: 85%;}
} 

.hero-bgimg {
	background-image: url('./Images/img-3.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width: 100%;
	animation : bgin 1s;
	animation-fill-mode: forwards;
}

.hero-bgimg-wrap {
	background: rgba(255, 255, 255, 0.8);
	width:100%;
	display: flex;
	align-items:flex-start;
	justify-content: space-between;
	height: 720px;
	padding-top:4em;
	padding-right:4em;;
}
.callup {
	color:grey;
	font-size:5em;
	width:34%;
	padding-top:2em;
	padding-left:2rem;
}
.img-cover-small {
	width:24%;
}

@keyframes bringup {
  from { width: 24%;}
  to {width: 30%;}
} 
@keyframes sendback {
  from { width: 35%;}
  to {width: 24%;}
} 

.img-cover-small:hover {
	animation: bringup 0.5s;
	transition: ease-out;
}

.img-cover-big {
	width:35%;
}


.img-sm {
	width:100%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

.img-bg {
	width:100%;
}
.hero-container >h1 {
	margin-top: 2rem;
    color: white;
    font-size: 65px;
    margin-bottom:2rem;
}

.hero-container > p{
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    opacity: 0.7;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;

}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px){
    .hero-container >h1 {
        font-size: 70px;
        margin-top: -150px;
    
    }
}

@media screen and (max-width: 768px){
    .hero-container >h1 {
        color: white;
        font-size: 50px;
        margin-top: -100px;
        margin: 20px;
    
    }

    .hero-container >p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;

    }

    .btn{
        width: 100%;
    }
}
