* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: wfont_c0bbc5_1b4f03e2ac12425b86a1ac8dd5fd2243,wf_1b4f03e2ac12425b86a1ac8dd,orig_hurmegeometricsans_3_black;
  }
  

  .payroll,
  .iot,
  .ml,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  

